@keyframes fly-in-left {
    0% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fly-in-right {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fly-out-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-120%);
    }
}

@keyframes fly-out-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(120%);
    }
}