@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap'); */

:root {
    --background-color: #0f4c75;
    --dark-accent: #186da5;
    --accent: #1c89d1;
    --border-radius-card: .5rem;
}

html {
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    --body-padding: 2vmax;
    background-color: var(--background-color);
    padding: var(--body-padding);
    margin: 0;
    height: calc(100% - var(--body-padding) * 2)
}

h1, p {
    margin: 0;
}

body.overlay {
    background-color: turquoise;
    display: flex;
    align-items: flex-end;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.container.fullscreen {
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.card {
    border-radius: 0 var(--border-radius-card) var(--border-radius-card) var(--border-radius-card);
    color: white;
    overflow: hidden;
    width: 80%;
    height: 100%;
    animation: fly-in-top 500ms ease-out forwards;
}

.card.cleared {
    animation: fly-out-top 500ms ease-in forwards;
}

.card .line {
    background-color: var(--background-color);
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.card .line:last-child, .card .group:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.card .group .line:last-child {
    border-radius: 0;
}

.card .line:not(:first-child), .card .group {
    margin-top: .1rem;
}

.card .line:nth-child(odd) {
    background-color: var(--dark-accent);
}

.card .group .line {
    background-color: var(--background-color);
}

.card .group:nth-child(odd) .line {
    background-color: var(--dark-accent);
}

.card .accent {
    display: block;
    content: "";
    width: 100%;
    height: var(--border-radius-card);
    background-color: white;
    background-image:linear-gradient(to bottom right, var(--accent), #1c89d1cc);
    margin-bottom: .1rem;
}

.card .line:not(.header) {
    transform: translateY(100vh);
}

.card .group.hide, .card .line:not(.header).hide {
    transform: translateY(0);
}

.card .group .line {
    border-left: 1rem var(--color) solid;
}

.card .line:not(.header):nth-child(9n + 3), .card .group:nth-child(3n + 3) .line:nth-child(1) {
    --animation-delay-in: 100ms;
    --animation-delay-out: 1000ms;
}

.card .line:not(.header):nth-child(9n + 4), .card .group:nth-child(3n + 3) .line:nth-child(2) {
    --animation-delay-in: 200ms;
    --animation-delay-out: 900ms;
}

.card .line:not(.header):nth-child(9n + 5), .card .group:nth-child(3n + 3) .line:nth-child(3) {
    --animation-delay-in: 300ms;
    --animation-delay-out: 800ms;
}

.card .line:not(.header):nth-child(9n + 6), .card .group:nth-child(3n + 4) .line:nth-child(1) {
    --animation-delay-in: 400ms;
    --animation-delay-out: 700ms;
}

.card .line:not(.header):nth-child(9n + 7), .card .group:nth-child(3n + 4) .line:nth-child(2) {
    --animation-delay-in: 500ms;
    --animation-delay-out: 600ms;
}

.card .line:not(.header):nth-child(9n + 8), .card .group:nth-child(3n + 4) .line:nth-child(3) {
    --animation-delay-in: 600ms;
    --animation-delay-out: 500ms;
}

.card .line:not(.header):nth-child(9n + 8), .card .group:nth-child(3n + 5) .line:nth-child(1) {
    --animation-delay-in: 700ms;
    --animation-delay-out: 400ms;
}

.card .line:not(.header):nth-child(9n + 9), .card .group:nth-child(3n + 5) .line:nth-child(2) {
    --animation-delay-in: 800ms;
    --animation-delay-out: 300ms;
}

.card .line:not(.header):nth-child(9n + 10), .card .group:nth-child(3n + 5) .line:nth-child(3) {
    --animation-delay-in: 900ms;
    --animation-delay-out: 200ms;
}

.card .line:not(.header):nth-child(9n + 11) {
    --animation-delay-in: 1000ms;
    --animation-delay-out: 100ms;
}

.card .line:not(.header) {
    animation: fly-in-bottom 500ms ease-out forwards var(--animation-delay-in);
}

.card .line:not(.header).hide {
    animation: fly-out-bottom 500ms ease-in forwards var(--animation-delay-out);
}

.position {
    float: left;
    font-size: 2rem;
    min-width: 1.5em;
    margin-right: .5rem;
}

.line .riderinfo {
    flex: 3
}

.line .agegroup {
    flex: 1
}

.line .scope {
    width: 4em;
}

.line .mark {
    font-size: 2rem;
    text-align: right;
    margin-left: 1em;
}

.line > *:last-child {
    text-align: right;
}

.info {
    color: white;
    width: 30%;
    border-radius: 0 .5rem .5rem .5rem;
    overflow: hidden;
    transform: translateX(-110%);
    animation: fly-in-left 500ms ease-out forwards;
    transform-origin: top left;
    margin-top: .5em;
}

.container.vertical .info:not(:last-child) {
    margin-bottom: .5em;
}

.info.cleared {
    animation: fly-out-left 500ms ease-out forwards;
}

.info div:not(:last-child) {
    margin-bottom: .125em;
}

.line {
    flex: 1;
    background-color: var(--background-color);
    padding: .25em .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line > span {
    display: block;
}

.line span.fade-down.show {
    animation: fade-in-down 500ms ease-out forwards;
}

.line span.fade-down.hide {
    animation: fade-out-up 500ms ease-out forwards;
}

.line span.fade-up.show {
    animation: fade-in-up 500ms ease-out forwards;
}

.line span.fade-up.hide {
    animation: fade-out-down 500ms ease-out forwards;
}

.hidden {
    display: none!important;
}

.line span.fade-up.hidden {
    transform: translateY(100%);
}

.line span.fade-down.hidden {
    transform: translateY(-100%);
}

.line.secondary {
    font-size: 80%;
}

.line .left {
    display: flex;
}

.line .marks {
    display: flex;
    justify-content: space-between;
}

.line .marks .mark {
    display: flex;
    width: 2.2em;
    justify-content: center;
    align-items: center;
}

.line .marks .final-mark {
    text-align: right;
}

.line .marks .loading {
    margin: -0.1em 0;
}

.color-wrapper {
    height: .5em;
    background-color: white;
}

.red {
    --color: rgba(255,0,0,1);
    --color-end: rgba(255,0,0,.5);
}

.blue {
    --color: rgba(0,0,255,1);
    --color-end: rgba(0,0,255,.5);
}

.green {
    --color: rgb(0, 200, 0);
    --color-end: rgba(0,200,0,.5);
}

.yellow {
    --color: rgb(230, 230, 0);
    --color-end: rgba(230,230,0,.5);
}

.white {
    --color: rgb(255, 255, 255 ,1);
    --color-end: rgba(200,200,200,.5);
}

.purple {
    --color: rgb(200, 0, 200);
    --color-end: rgba(255,0,255,.5);
}

.black {
    --color: rgb(0, 0, 0);
    --color-end: rgba(50,50,50,.5);
}

.color {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(to bottom right, var(--color), var(--color-end));
}

.results {
    display: flex;
    color: white;
    --row-padding: .125rem .5rem;
    --row-margin: .125rem;
    --row-border-radius: .5rem .5rem .5rem .5rem;
    align-items: flex-end;
    transform: translateX(110%);
    animation: fly-in-right 500ms ease-out 500ms forwards;
}

.results.cleared {
    animation: fly-out-right 500ms ease-out forwards;
}

.results-table .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--background-color);
    margin-bottom: var(--row-margin);
    padding: var(--row-padding);
}

.results-table .row .col.mark {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2em;
}

.results-table .row .col.mark.time::after {
    content: "\"";
}

.results .section-names {
    margin-right: var(--row-margin)
}

.results .section-names .section {
    background-color:  var(--background-color);
    padding: var(--row-padding);
    margin-bottom: var(--row-margin);
}
.results .section-names .section:last-child, .results-table .row:last-child {
    margin-bottom: 0;
}

.results .section-names .section:last-of-type {
    border-bottom-left-radius: .5rem;
}

.results .results-table .row:not(.tot):first-of-type {
    border-top-right-radius: .5rem;
}

.results .final-mark {
    background-color:  var(--background-color);
    padding: var(--row-padding);
    width: 2.6em;
    border-radius: 0 .5rem .5rem 0;
    margin-left: var(--row-margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.results .final-mark img {
    margin: .125em;
}

.mark .card {
    width: .75em;
    height: .95em;
    border-radius: .125rem;
    margin: .125rem 0;
}

.mark .card:nth-child(2) {
    margin-left: .125em;
}

.card.red {
    background-color: red;
}

.card.yellow {
    background-color: rgb(230, 230, 0);
}

.card.blue {
    background-color: rgba(0,0,255,1);
}

.card.white {
    background-color: white;
}

.logo {
    height: 8vmax;
    width: 15vmax;
    position: absolute;
    top: var(--body-padding);
    right: var(--body-padding);
    display: flex;
    justify-content: flex-end;

    background-image: var(--image-src);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.loading {
    max-height: 1em;
    margin: .102em 0;
}

.card .logo {
    position: relative;
    top: unset;
    right: unset;
    height: unset;
    background-position: center right;
}