@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap'); */

:root {
    --background-color: #0f4c75;
}

html {
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    --body-padding: 2vmax;
    background-color: var(--background-color);
    padding: var(--body-padding);
    margin: 0;
    height: calc(100% - var(--body-padding) * 2)
}

body.overlay {
    background-color: turquoise;
    display: flex;
    align-items: flex-end;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info {
    color: white;
    width: 33%;
    border-radius: 0 .5rem .5rem .5rem;
    overflow: hidden;
    transform: translateX(-110%);
    animation: fly-in-left 500ms ease-out forwards;
}

.info.cleared {
    animation: fly-out-left 500ms ease-out forwards;
}

.info div:not(:last-child) {
    margin-bottom: .125em;
}

.line {
    background-color: var(--background-color);
    padding: .25em .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line.horse {
    font-size: 80%;
}

.color-wrapper {
    height: .5em;
    background-color: white;
}

.red {
    --color: rgba(255,0,0,1);
    --color-end: rgba(255,0,0,.5);
}

.blue {
    --color: rgba(0,0,255,1);
    --color-end: rgba(0,0,255,.5);
}

.green {
    --color: rgb(0, 200, 0);
    --color-end: rgba(0,200,0,.5);
}

.yellow {
    --color: rgb(230, 230, 0);
    --color-end: rgba(230,230,0,.5);
}

.white {
    --color: rgb(255, 255, 255 ,1);
    --color-end: rgba(200,200,200,.5);
}

.purple {
    --color: rgb(200, 0, 200);
    --color-end: rgba(255,0,255,.5);
}

.black {
    --color: rgb(0, 0, 0);
    --color-end: rgba(50,50,50,.5);
}

.color {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: linear-gradient(to bottom right, var(--color), var(--color-end));
}

.results {
    display: flex;
    color: white;
    --row-padding: .125rem .5rem;
    --row-margin: .125rem;
    --row-border-radius: .5rem .5rem .5rem .5rem;
    align-items: flex-end;
    transform: translateX(110%);
    animation: fly-in-right 500ms ease-out 500ms forwards;
}

.results.cleared {
    animation: fly-out-right 500ms ease-out forwards;
}

.results-table .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--background-color);
    margin-bottom: var(--row-margin);
    padding: var(--row-padding);
}

.results-table .row .col.mark {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2em;
}

.results .section-names {
    margin-right: var(--row-margin)
}

.results .section-names .section {
    background-color:  var(--background-color);
    padding: var(--row-padding);
    margin-bottom: var(--row-margin);
}
.results .section-names .section:last-child, .results-table .row:last-child {
    margin-bottom: 0;
}

.results .section-names .section:last-of-type {
    border-bottom-left-radius: .5rem;
}

.results .results-table .row:not(.tot):first-of-type {
    border-top-right-radius: .5rem;
}

.results .final-mark {
    background-color:  var(--background-color);
    padding: var(--row-padding);
    width: 2.6em;
    border-radius: 0 .5rem .5rem 0;
    margin-left: var(--row-margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.results .final-mark img {
    margin: .125em;
}

.mark .card {
    width: .75em;
    height: .95em;
    border-radius: .125rem;
    margin: .125rem 0;
}

.mark .card:nth-child(2) {
    margin-left: .125em;
}

.card.red {
    background-color: red;
}

.card.yellow {
    background-color: rgb(230, 230, 0);
}

.card.blue {
    background-color: rgba(0,0,255,1);
}
.logo {
    height: 5vmax;
    position: absolute;
    top: var(--body-padding);
    right: var(--body-padding);
}

.logo img {
    height: 100%;
}

.loading {
    max-height: 1em;
}